/*

    Name:       Base16 Default Light
    Author:     Chris Kempson (http://chriskempson.com)

    CodeMirror template by Jan T. Sott (https://github.com/idleberg/base16-chrome-devtools)
    Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)

*/

/* based on https://raw.githubusercontent.com/FarhadG/code-mirror-themes/master/themes/chrome-devtools.css */
.cm-s-base16-light.CodeMirror {background: #f5f5f5; color: #202020;}
.cm-s-base16-light div.CodeMirror-selected {background: #e0e0e0 !important;}
.cm-s-base16-light .CodeMirror-gutters {background: #f5f5f5; border-right: 0px;}
.cm-s-base16-light .CodeMirror-linenumber {color: #b0b0b0;}
.cm-s-base16-light .CodeMirror-cursor {border-left: 1px solid #505050 !important;}

.cm-s-base16-light span.cm-comment {color: #8f5536;}
.cm-s-base16-light span.cm-atom {color: #aa759f;}
.cm-s-base16-light span.cm-number {color: #aa759f;}

.cm-s-base16-light span.cm-property, .cm-s-base16-light span.cm-attribute {color: #90a959;}
.cm-s-base16-light span.cm-keyword {color: #ac4142;}
.cm-s-base16-light span.cm-string {color: #F0A742;}

.cm-s-base16-light span.cm-variable {color: #7D944C;}
.cm-s-base16-light span.cm-variable-2 {color: #6a9fb5;}
.cm-s-base16-light span.cm-def {color: #d28445;}
.cm-s-base16-light span.cm-bracket {color: #202020;}
.cm-s-base16-light span.cm-tag {color: #ac4142;}
.cm-s-base16-light span.cm-link {color: #aa759f;}
.cm-s-base16-light span.cm-error {background: #ac4142; color: #505050;}

.cm-s-base16-light .CodeMirror-activeline-background {background: #DDDCDC !important;}
.cm-s-base16-light .CodeMirror-matchingbracket { text-decoration: underline; color: #ff00ff !important;}

/* Based on Sublime Text's Monokai theme */

body.invert .cm-s-base16-light.CodeMirror {background: rgb(22,23,25); color: #f8f8f2;}
body.invert .cm-s-base16-light div.CodeMirror-selected {background: #49483E !important;}
body.invert .cm-s-base16-light .CodeMirror-gutters {background: rgb(22,23,25); border-right: 0px;}
body.invert .cm-s-base16-light .CodeMirror-linenumber {color: #484848;}
body.invert .cm-s-base16-light .CodeMirror-cursor {border-left: 1px solid #f8f8f0 !important;}

body.invert .cm-s-base16-light span.cm-comment {color: #75715e;}
body.invert .cm-s-base16-light span.cm-atom {color: #ae81ff;}
body.invert .cm-s-base16-light span.cm-number {color: #ae81ff;}

body.invert .cm-s-base16-light span.cm-property,body.invert .cm-s-base16-light span.cm-attribute {color: #a6e22e;}
body.invert .cm-s-base16-light span.cm-keyword {color: #f92672;}
body.invert .cm-s-base16-light span.cm-string {color: #e6db74;}

body.invert .cm-s-base16-light span.cm-variable {color: #a6e22e;}
body.invert .cm-s-base16-light span.cm-variable-2 {color: #9effff;}
body.invert .cm-s-base16-light span.cm-def {color: #fd971f;}
body.invert .cm-s-base16-light span.cm-bracket {color: #f8f8f2;}
body.invert .cm-s-base16-light span.cm-tag {color: #f92672;}
body.invert .cm-s-base16-light span.cm-link {color: #ae81ff;}
body.invert .cm-s-base16-light span.cm-error {background: #f92672; color: #f8f8f0;}

body.invert .cm-s-base16-light .CodeMirror-activeline-background {background: #373831 !important;}
body.invert .cm-s-base16-light .CodeMirror-matchingbracket {
  text-decoration: underline;
  color: white !important;
}
