body {
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
  /*max-width: 64.3em;*/
}
.CodeMirror {
  font-family: Menlo, 'Source Code Pro', monospace;
  font-size: 15px;
  height: 100%;
}

#options {
  position: absolute;
  font-size: 14px;
  font-family: Droid Sans, Arial, sans-serif;
  line-height: 1.5;
  top: 20px;
  right: 40px;
  z-index: 1;

}

#header {
  color: #fff;
  background-color: #000;
  position: absolute;
  bottom: 0;
  right: 50%;
  left: 0;
  height: 40px;
  
  
  
  font-family: 'Lato',Helvetica Neue,Helvetica,Arial,sans-serif;
  font-weight: 300;
  padding-left: 20px;
}

#header span{
  display: inline-block;
  margin-top: 7px;
}

#controls {
  color: #fff;
  background-color: #000;
  position: absolute;;
  height: 40px;
  right: 0;
  bottom: 0;
  left: 50%;

}

#errors {
  color: red;
  position: absolute;
  background-color: white;
  /*right: 10;*/
  z-index: 10;
  bottom: 10;
  /*left: 50%;*/
  /*padding-top: 20px;*/
  /*padding-left: 55px;*/
  padding: 10px;
}

#edit-box {
  position: absolute;
  top: 0px;
  right: 50%;
  bottom: 40px;
  left: 0;
  border-right: 1px solid #000;
}
#output-box {
  position: absolute;
  top: 0px;
  right: 0;
  bottom: 40px;
  left: 50%;
}


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  #edit-box{
    right: 0;
    bottom: 30%;
    border-bottom: 1px solid #000;
    border-right: 0px;
  }

  #output-box{
    top: 70%;
    bottom: 40px;
    left: 0;
  }

  #header{
    right: 0;
    padding-left: 0;
  }
  #header span{
    display: none;
  }
  #controls{
    display: none;
  }

  #drop-examples{
    margin-right: 10px;
    margin-top: 8px;
    float: right;
  }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    box-shadow: none;
    border: 1px solid rgba(0,0,0,.125);
}

body.invert .btn-success {
  color: #fff;
  background-color: rgb(97, 152, 32);
}

#btn-run,
#lbl-examples{
  margin-left: 10px;
}

.btn-default{
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
}

#chk-transpile{
  margin-top: 15px;
}

#lbl-examples{
  font-weight: bold;
  font-size: 13px; 
  margin-right: 10px;
}

#drop-examples{
  font-size: 14px;
  min-width: 150px;
}